@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP&display=swap');

:root {
    --heading-font-family: 'noto sans', sans-serif;
    --text-font-family: JP, san-serif;
    --bg-color: #444444;
}


body {
    padding-top: 70px;
    font-family: var(--text-font-family);
    color: var(--bg-color)
}

h1,
h2 {
    font-family: var(--heading-font-family);
}

.center-text {
    text-align: center;
}

/* logo size */

.logo-img {
    width: 50px;
}

/* footer */

footer {
    background-color: #444444;
    height: 50px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin: 10px 0 -10px;
    padding-bottom: 0;
    text-decoration: none;
    color: #fdf5e6;
    list-style: none;
}

footer .logo-img {
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
}

footer span {
    padding: 10px 0;
}

.sns {
    font-size: 200%;
    list-style: none;
    letter-spacing: 10px;
    display: inline-flex;
}

/* Hero image */

.hero-image {
    height: 300px;
    background: url(../images/hero-image.jpg) fixed;
    margin-bottom: 10px;

}

.hero-text {
    position: relative;
    left: 3vw;
    width: 300px;
    height: auto;
    padding: 30px;
    margin-top: 30px;
    border-radius: 10%;
    background-color: rgb(253, 245, 230, 0.5);
    color: #1d1b14;
}

input,
select {
    width: 200px;
    height: 30px;
}

/* Category section */

.cat-text {
    background-color: var(--bg-color);
    height: 200px;
    width: 24vw;
    padding: 0;
    text-align: center;
    padding-top: 100px;
    margin: 0;
}

.cat-img {
    height: 200px;
    width: 24vw;
  /* object-fit: cover;*/
    padding: 0;
    margin: 0;
}

/*Feedback page */

.feedback_img {
    background-image: url(../images/feedback_img.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.vertical-top {
    display: inline;
    vertical-align: top;
    width: 150px;
}

label {
    width: 120px;
}

/* Feedback form */

.fb-grid-container {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    }

/* aligning form elements with grid */

#form-name {
    grid-row: 1/2;
    grid-column: 2/4;
}

#form-email {
    grid-row: 1/2;
    grid-column: 4/6;
}

#form-concern {
    grid-row: 2/3;
    grid-column: 2/4;
}

#form-comment {
    grid-row: 3/4;
    grid-column: 2/5;
}

#form-send {
    grid-row: 4/5;
    grid-column: 3/4;
}
